@model IEnumerable<WebAppSystem.Models.Payroll>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Taxes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adjustments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contributions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Taxes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adjustments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contributions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PayrollId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PayrollId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PayrollId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
